# 10 minutes to Optimus

**ðŸ‘‹ Hi, Are you in Google Colab?**

In Google Colab you can easily run Optimus. If you're not, you may want visit the link below

https://colab.research.google.com/github/hi-primus/optimus/blob/master/examples/10_min_to_optimus.ipynb

## Install Optimus

In [ ]:
!pip install git+https://github.com/hi-primus/optimus.git@develop-21.8#egg=pyoptimus[pandas]

## Restart Runtime
Before you continue, please go to the 'Runtime' Menu above, and select 'Restart Runtime (Ctrl + M + .)'.

**ðŸŽ‰ You are done. Enjoy Optimus!**
## Import Optimus and start it

In [ ]:
from optimus import Optimus
op = Optimus("pandas")

## Dataframe creation

Create a dataframe to passing a list of values for each column.

In [ ]:
df = op.create.dataframe({
        "words": ["  I like     fish  ", "    zombies", "simpsons   cat lady", None],
        "num": [1, 2, 2, 3],
        "animals": ["dog", "cat", "frog", "eagle"],
        "thing": ["housÃ©", "tv", "table", "glass"],
        "two strings": ["cat-car", "dog-tv", "eagle-tv-plus", "lion-pc"],
        "filter": ["a", "b", "1", "c"],
        "num 2": ["1", "2", "3", "4"],
        "col_array": [["baby", "sorry"], ["baby 1", "sorry 1"], ["baby 2", "sorry 2"], ["baby 3", "sorry 3"]],  
        "col_int": [[1, 2, 3], [3, 4], [5, 6, 7], [7, 8]]
})

df.display()

Creating a dataframe by passing a list of tuples specifyng the column data type.

In [ ]:

df = op.create.dataframe({
        ("words", "str"): ["  I like     fish  ", "    zombies", "simpsons   cat lady", None],
        ("num", "int"): [1, 2, 2, 3],
        ("animals", "str"): ["dog", "cat", "frog", "eagle"],
        ("thing", "str"): ["housÃ©", "tv", "table", "glass"],
        ("two strings", "str"): ["cat-car", "dog-tv", "eagle-tv-plus", "lion-pc"],
        ("filter", "str"): ["a", "b", "1", "c"],
        ("num 2", "string"): ["1", "2", "3", "4"],
        "col_array": [["baby", "sorry"], ["baby 1", "sorry 1"], ["baby 2", "sorry 2"], ["baby 3", "sorry 3"]],                
        "col_int": [[1, 2, 3], [3, 4], [5, 6, 7], [7, 8]]
})

df.display()

Creating an Optimus dataframe using a pandas dataframe

In [ ]:
import pandas as pd

data = [("bumbl#ebÃ©Ã©  ", 17.5, "Espionage", 7),
        ("Optim'us", 28.0, "Leader", 10),
        ("ironhide&", 26.0, "Security", 7)]

labels = ["names", "height", "function", "rank"]

pdf = pd.DataFrame.from_records(data, columns=labels)

df = op.create.dataframe(dfd=pdf)

df.display()

# Dataframe loading

In [ ]:
df = op.load.file("https://raw.githubusercontent.com/hi-primus/optimus/develop-21.8/examples/data/foo.csv")
df.display()

## Viewing data
Here is how to view the first 20 elements in a dataframe

In [ ]:
df.display(20)

Display in plain text using print

In [ ]:
df.print(5)

# Transforming data
To transform data you can use operations like `upper` to transform the text data to uppercases or `rename` to rename a column.

In [ ]:
df.display()
df.cols.rename("firstName", "name").display(highlight="name")
df.cols.upper("lastName").display(highlight="lastName")

## Chaining

The past transformations were done step by step, but this can be achieved by chaining all operations into one line of code, like the cell below.

In [ ]:
df.display()
df \
    .cols.rename("billingId", "billing") \
    .cols.drop(["id", "dummyCol"]) \
    .cols.append({"zeros": 0}) \
    .cols.sort(order="desc") \
    .cols.upper("product") \
    .display()

## More examples

Delete repeated rows

In [ ]:
df.rows.drop_duplicated("product").display()

Replace repeated values

In [ ]:
df.set.duplicated("product", "N/A").display(highlight="product")

Profile of the dataframe

In [ ]:
df.profile("*", bins=3) # "*" = select all columns