In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [3]:
from optimus import Optimus

In [4]:
op = Optimus("pandas")

In [5]:
url = "https://raw.githubusercontent.com/hi-primus/optimus/develop/examples/data/foo.csv"
df = op.load.csv(url)

In [6]:
df.data

,id,firstName,lastName,billingId,product,price,birth,dummyCol
0,1,Luis,Alvarez$$%!,123,Cake,10,1980/07/07,never
1,2,André,Ampère,423,piza,8,1950/07/08,gonna
2,3,NiELS,Böhr//((%%,551,pizza,8,1990/07/09,give
3,4,PAUL,dirac$,521,pizza,8,1954/07/10,you
4,5,Albert,Einstein,634,pizza,8,1990/07/11,up
5,6,Galileo,GALiLEI,672,arepa,5,1930/08/12,never
6,7,CaRL,Ga%%%uss,323,taco,3,1970/07/13,gonna
7,8,David,H$$$ilbert,624,taaaccoo,3,1950/07/14,let
8,9,Johannes,KEPLER,735,taco,3,1920/04/22,you
9,10,JaMES,M$$ax%%well,875,taco,3,1923/03/12,down
10,11,Isaac,Newton,992,pasta,9,1999/02/15,never
11,12,Emmy%%,Nöether$,234,pasta,9,1993/12/08,gonna
12,13,Max!!!,Planck!!!,111,hamburguer,4,1994/01/04,run
13,14,Fred,Hoy&&&le,553,pizzza,8,1997/06/27,around
14,15,((( Heinrich ))))),Hertz,116,pizza,8,1956/11/30,and
15,16,William,Gilbert###,886,BEER,2,1958/03/26,desert
16,17,Marie,CURIE,912,Rice,1,2000/03/22,you
17,18,Arthur,COM%%%pton,812,110790,5,1899/01/01,#
18,19,JAMES,Chadwick,467,null,10,1921/05/03,#

In [11]:
from optimus.engines.stream.stream import Stream
def callback(values):
    print(values)
Stream(df).histogram("id", n=5,chunk_size=10_000, callback=None)

{'hist': {'id': [{'lower': 1.0, 'upper': 4.6, 'count': 5},
   {'lower': 4.6, 'upper': 8.2, 'count': 0},
   {'lower': 8.2, 'upper': 11.8, 'count': 0},
   {'lower': 11.8, 'upper': 15.4, 'count': 0},
   {'lower': 15.4, 'upper': 19, 'count': 0}]}}

In [12]:
%%time
df.cols.hist("id", 5)

Wall time: 4 ms

{'hist': {'id': [{'lower': 1.0, 'upper': 4.6, 'count': 4},
   {'lower': 4.6, 'upper': 8.2, 'count': 4},
   {'lower': 8.2, 'upper': 11.8, 'count': 3},
   {'lower': 11.8, 'upper': 15.4, 'count': 4},
   {'lower': 15.4, 'upper': 19.0, 'count': 4}]}}

In [13]:
from optimus.engines.stream.stream import Stream

In [14]:
df.data

,id,firstName,lastName,billingId,product,price,birth,dummyCol
0,1,Luis,Alvarez$$%!,123,Cake,10,1980/07/07,never
1,2,André,Ampère,423,piza,8,1950/07/08,gonna
2,3,NiELS,Böhr//((%%,551,pizza,8,1990/07/09,give
3,4,PAUL,dirac$,521,pizza,8,1954/07/10,you
4,5,Albert,Einstein,634,pizza,8,1990/07/11,up
5,6,Galileo,GALiLEI,672,arepa,5,1930/08/12,never
6,7,CaRL,Ga%%%uss,323,taco,3,1970/07/13,gonna
7,8,David,H$$$ilbert,624,taaaccoo,3,1950/07/14,let
8,9,Johannes,KEPLER,735,taco,3,1920/04/22,you
9,10,JaMES,M$$ax%%well,875,taco,3,1923/03/12,down
10,11,Isaac,Newton,992,pasta,9,1999/02/15,never
11,12,Emmy%%,Nöether$,234,pasta,9,1993/12/08,gonna
12,13,Max!!!,Planck!!!,111,hamburguer,4,1994/01/04,run
13,14,Fred,Hoy&&&le,553,pizzza,8,1997/06/27,around
14,15,((( Heinrich ))))),Hertz,116,pizza,8,1956/11/30,and
15,16,William,Gilbert###,886,BEER,2,1958/03/26,desert
16,17,Marie,CURIE,912,Rice,1,2000/03/22,you
17,18,Arthur,COM%%%pton,812,110790,5,1899/01/01,#
18,19,JAMES,Chadwick,467,null,10,1921/05/03,#

In [22]:
%%time
def callback(values):
    print(values)

Stream(df).frequency(["product","price"], n=5,chunk_size=10_000, callback=callback)

{'frequency': {'product': {'values': [{'value': 'pizza', 'count': 4}, {'value': 'taco', 'count': 3}, {'value': 'pasta', 'count': 2}, {'value': 'Cake', 'count': 1}, {'value': 'piza', 'count': 1}]}}}
{'frequency': {'product': Counter({'pizza': 4, 'taco': 3, 'pasta': 2, 'Cake': 1, 'piza': 1, 'arepa': 1, 'taaaccoo': 1, 'hamburguer': 1, 'pizzza': 1, 'BEER': 1, 'Rice': 1, '110790': 1, 'null': 1}), 'price': {'values': [{'value': 8, 'count': 6}, {'value': 3, 'count': 4}, {'value': 10, 'count': 2}, {'value': 5, 'count': 2}, {'value': 9, 'count': 2}]}}}
self.map_results {'frequency': {'product': Counter({'pizza': 4, 'taco': 3, 'pasta': 2, 'Cake': 1, 'piza': 1, 'arepa': 1, 'taaaccoo': 1, 'hamburguer': 1, 'pizzza': 1, 'BEER': 1, 'Rice': 1, '110790': 1, 'null': 1}), 'price': Counter({8: 6, 3: 4, 10: 2, 5: 2, 9: 2, 4: 1, 2: 1, 1: 1})}}
Wall time: 3 ms

{'frequency': {'product': {'values': [{'value': 'pizza', 'count': 4},
    {'value': 'taco', 'count': 3},
    {'value': 'pasta', 'count': 2},
    {'value': 'Cake', 'count': 1},
    {'value': 'piza', 'count': 1}]},
  'price': {'values': [{'value': 8, 'count': 6},
    {'value': 3, 'count': 4},
    {'value': 10, 'count': 2},
    {'value': 5, 'count': 2},
    {'value': 9, 'count': 2}]}}}

In [114]:
%%time
df.cols.frequency("price")

Wall time: 2.47 ms

{'frequency': {'price': {'values': [{'value': 8, 'count': 6},
    {'value': 3, 'count': 4},
    {'value': 5, 'count': 2},
    {'value': 9, 'count': 2},
    {'value': 10, 'count': 2},
    {'value': 1, 'count': 1},
    {'value': 2, 'count': 1},
    {'value': 4, 'count': 1}]}}}

In [16]:
df.cols.hist("id", 5, stream=True)

name                        id  nametype    recclass        mass (g)  fall        year                        reclat     reclong  GeoLocation
(object)               (int64)  (object)    (object)        (object)  (object)    (object)                  (object)    (object)  (object)
-------------------  ---------  ----------  ------------  ----------  ----------  ----------------------  ----------  ----------  -------------
Aachen                       1  Valid       L5                    21  Fell        01/01/1880 12:00:00 AM     50.775      6.08333  "(50.775000
Aarhus                       2  Valid       H6                   720  Fell        01/01/1951 12:00:00 AM     56.1833    10.2333   "(56.183330
Abee                         6  Valid       EH4               107000  Fell        01/01/1952 12:00:00 AM     54.2167  -113        "(54.216670
Acapulco                    10  Valid       Acapulcoite         1914  Fell        01/01/1976 12:00:00 AM     16.8833   -99.9      "(16.883330
Achiras                    370  Valid       L6                   780  Fell        01/01/1902 12:00:00 AM    -33.1667   -64.95     "(-33.166670
Adhi Kot                   379  Valid       EH4                 4239  Fell        01/01/1919 12:00:00 AM     32.1       71.8      "(32.100000
Adzhi-Bogdo (stone)        390  Valid       LL3-6                910  Fell        01/01/1949 12:00:00 AM     44.8333    95.1667   "(44.833330
Agen                       392  Valid       H5                 30000  Fell        01/01/1814 12:00:00 AM     44.2167     0.61667  "(44.216670
Aguada                     398  Valid       L6                  1620  Fell        01/01/1930 12:00:00 AM    -31.6      -65.2333   "(-31.600000
Aguila Blanca              417  Valid       L                   1440  Fell        01/01/1920 12:00:00 AM    -30.8667   -64.55     "(-30.866670
Aioun el Atrouss           423  Valid       Diogenite-pm        1000  Fell        01/01/1974 12:00:00 AM     16.3981    -9.57028  "(16.398060

AttributeError: 'Stream' object has no attribute 'df'

In [26]:
from optimus.engines.stream.stream import Stream

sdf = Stream(df)

In [24]:
sdf.histogram("id", 5)

AttributeError: 'Stream' object has no attribute 'df'