# This notebook creates a test file

In [311]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [312]:
import sys
sys.path.append("../..")

In [313]:
from optimus import Optimus

In [314]:
op = Optimus("pandas")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/Angel/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [315]:
from datetime import date, datetime

source_df = op.create.dataframe({'NullType': (None, None, None, None, None, None),
    'attributes': ([8.5344, 4300.0], [5.334, 2000.0], [7.9248, 4000.0], [3.9624, 1800.0], [None, 5700.0], [91.44, None]),
    'date arrival': ('1980/04/10', '1980/04/10', '1980/04/10', '1980/04/10', '1980/04/10', '1980/04/10'),
    'function(binary)': (bytearray('Leader', 'utf-8'), bytearray('Espionage', 'utf-8'), bytearray('Security', 'utf-8'), bytearray('First Lieutenant', 'utf-8'), bytearray('None', 'utf-8'), bytearray('Battle Station', 'utf-8')),
    'height(ft)': (-28, 17, 26, 13, None, 300),
    'japanese name': (['Inochi', 'Convoy'], ['Bumble', 'Goldback'], ['Roadbuster'], ['Meister'], ['Megatron'], ['Metroflex']),
    ('last date seen', 'date'): ('2016/09/10', '2015/08/10', '2014/07/10', '2013/06/10', '2012/05/10', '2011/04/10'),
    'last position seen': ('19.442735,-99.201111', '10.642707,-71.612534', '37.789563,-122.400356', '33.670666,-117.841553', None, None),
    'rank': (10, 7, 7, 8, 10, 8),
    ('Cybertronian', 'bool'): (True, True, True, True, True, False),
    ('Date Type'): (date(2016, 9, 10), date(2015, 8, 10), date(2014, 6, 24), date(2013, 6, 24), date(2012, 5, 10), date(2011, 4, 10)),
    ('age', 'int'): (5000000, 5000000, 5000000, 5000000, 5000000, 5000000),
    ('function', 'string'): ('Leader', 'Espionage', 'Security', 'First Lieutenant', 'None', 'Battle Station'),
    ('names', 'str'): ('Optimus', 'bumbl#ebéé  ', 'ironhide&', 'Jazz', 'Megatron', 'Metroplex_)^$'),
    ('timestamp', 'time'): (datetime(2014, 6, 24, 0, 0), datetime(2014, 6, 24, 0, 0), datetime(2014, 6, 24, 0, 0), datetime(2014, 6, 24, 0, 0), datetime(2014, 6, 24, 0, 0), datetime(2014, 6, 24, 0, 0)),
    ('weight(t)', 'float'): (4.3, 2.0, 4.0, 1.8, 5.7, None)}, n_partitions=1)

source_df.to_json() == source_df.to_json()

True

In [316]:
source_df.display()

In [317]:
source_df.cols.clip("rank", 999, 10000)

NullType    attributes        date arrival    function(binary)                  height(ft)  japanese name           last date seen       last position seen            rank  Cybertronian    Date Type          age  function          names          timestamp              weight(t)
(object)    (object)          (object)        (object)                           (float64)  (object)                (datetime64[ns])     (object)                 (float64)  (bool)          (object)       (int64)  (string)          (string)       (datetime64[ns])       (float64)
----------  ----------------  --------------  ------------------------------  ------------  ----------------------  -------------------  ---------------------  -----------  --------------  -----------  ---------  ----------------  -------------  -------------------  -----------
            [8.5344, 4300.0]  1980/04/10      bytearray(b'Leader')                     -28  ['Inochi', 'Convoy']    2016-09-10 00:00:00  19.442735,-99.201111           999  True            2016-09-10     5000000  Leader            Optimus        2014-06-24 00:00:00          4.3
            [5.334, 2000.0]   1980/04/10      bytearray(b'Espionage')                   17  ['Bumble', 'Goldback']  2015-08-10 00:00:00  10.642707,-71.612534           999  True            2015-08-10     5000000  Espionage         bumbl#ebéé     2014-06-24 00:00:00          2
            [7.9248, 4000.0]  1980/04/10      bytearray(b'Security')                    26  ['Roadbuster']          2014-07-10 00:00:00  37.789563,-122.400356          999  True            2014-06-24     5000000  Security          ironhide&      2014-06-24 00:00:00          4
            [3.9624, 1800.0]  1980/04/10      bytearray(b'First Lieutenant')            13  ['Meister']             2013-06-10 00:00:00  33.670666,-117.841553          999  True            2013-06-24     5000000  First Lieutenant  Jazz           2014-06-24 00:00:00          1.8
            [None, 5700.0]    1980/04/10      bytearray(b'None')                       nan  ['Megatron']            2012-05-10 00:00:00                                 999  True            2012-05-10     5000000  None              Megatron       2014-06-24 00:00:00          5.7
            [91.44, None]     1980/04/10      bytearray(b'Battle Station')             300  ['Metroflex']           2011-04-10 00:00:00                                 999  False           2011-04-10     5000000  Battle Station    Metroplex_)^$  2014-06-24 00:00:00        nan

In [318]:
from optimus.helpers.test import Test

t = Test(op, source_df, "df_ext", imports=["import datetime"], path = "df_ext", final_path="..")

In [319]:
source_df.rows.count()

6

In [320]:
t.create(None, "buffer_window", "1", 'df', None, "*", 0, 3)
t.create(None, "buffer_window", "2", 'df', None, ["rank","age","names"], 6, 0)
t.create(None, "buffer_window", "3", 'df', None, "last position seen", 4, 5)

Creating test_buffer_window_1() test function...
Creating test_buffer_window_2() test function...
Creating test_buffer_window_3() test function...

In [321]:
t.create(None, "stratified_sample", None, 'df', None, "rank", 12)

Creating test_stratified_sample() test function...

In [322]:
t.create(None, "cols.cos", "1", 'df', None, "weight(t)")
t.create(None, "cols.cos", "2", 'df', None, "age")

Creating test_cols_cos_1() test function...
Creating test_cols_cos_2() test function...

In [323]:
t.create(None, "cols.string_to_index", "1", "df", None, "names")
t.create(None, "cols.string_to_index", "2", "df", None, ["names","function"])
t.create(None, "cols.string_to_index", "1", "df", None, "*")

Creating test_cols_string_to_index_1() test function...
Creating test_cols_string_to_index_2() test function...
Creating test_cols_string_to_index_1() test function...

In [324]:
t.create(None, "cols.remove", "1", "df", None, "function", ["a", "i", "Es"])
t.create(None, "cols.remove", "2", "df", None, "*", ["s", "zz"])
t.create(None, "cols.remove", "3", "df", None, "*", " ")

Creating test_cols_remove_1() test function...
Creating test_cols_remove_2() test function...
Creating test_cols_remove_3() test function...

In [325]:
t.create(None, "cols.abs", "1", "df", None, "weight(t)")
t.create(None, "cols.abs", "2", "df", None, ["function","rank","height(ft)"])

Creating test_cols_abs_1() test function...
Creating test_cols_abs_2() test function...

In [326]:
t.create(None, "cols.unique", "1", "df", None, "rank")
t.create(None, "cols.unique", "2", "df", None, ["Cybertronian","age","date arrival"])

Creating test_cols_unique_1() test function...
Creating test_cols_unique_2() test function...

In [327]:
t.create(None, "cols.z_score", "1", "df", None, "weight(t)")
t.create(None, "cols.z_score", "2", "df", None, ["names","height(ft)"])

Creating test_cols_z_score_1() test function...
Creating test_cols_z_score_2() test function...

In [328]:
t.create(None, "cols.lower", "1", "df", None, ["japanese name","function(binary)","Cybertronian"])
t.create(None, "cols.lower", "2", "df", None, "*")
t.create(None, "cols.lower", "3", "df", None, "function")
t.create(None, "cols.lower", "4", "df", None, "age")

Creating test_cols_lower_1() test function...
Creating test_cols_lower_2() test function...
Creating test_cols_lower_3() test function...
Creating test_cols_lower_4() test function...

In [329]:
t.create(None, "cols.upper", "1", "df", None, ["japanese name","function(binary)","Cybertronian"])
t.create(None, "cols.upper", "2", "df", None, "*")
t.create(None, "cols.upper", "3", "df", None, "function")
t.create(None, "cols.upper", "4", "df", None, "age")

Creating test_cols_upper_1() test function...
Creating test_cols_upper_2() test function...
Creating test_cols_upper_3() test function...
Creating test_cols_upper_4() test function...

In [330]:
t.create(None, "cols.trim", "1", "df", None, ["japanese name","function(binary)","Cybertronian"])
t.create(None, "cols.trim", "2", "df", None, "*")
t.create(None, "cols.trim", "3", "df", None, "function")
t.create(None, "cols.trim", "4", "df", None, "age")

Creating test_cols_trim_1() test function...
Creating test_cols_trim_2() test function...
Creating test_cols_trim_3() test function...
Creating test_cols_trim_4() test function...

In [331]:
t.create(None, "cols.reverse", "1", "df", None, ["japanese name","function(binary)","Cybertronian"])
t.create(None, "cols.reverse", "2", "df", None, "*")
t.create(None, "cols.reverse", "3", "df", None, "function")

Creating test_cols_reverse_1() test function...
Creating test_cols_reverse_2() test function...
Creating test_cols_reverse_3() test function...

In [332]:
t.create(None, "cols.remove_special_chars", "1", "df", None, ["japanese name","function(binary)","Cybertronian"])
t.create(None, "cols.remove_special_chars", "2", "df", None, "*")
t.create(None, "cols.remove_special_chars", "3", "df", None, "names")
t.create(None, "cols.remove_special_chars", "4", "df", None, "age")

Creating test_cols_remove_special_chars_1() test function...
Creating test_cols_remove_special_chars_2() test function...
Creating test_cols_remove_special_chars_3() test function...
Creating test_cols_remove_special_chars_4() test function...

In [333]:
t.create(None, "cols.remove_white_spaces", "1", "df", None, ["japanese name","function(binary)","Cybertronian"])
t.create(None, "cols.remove_white_spaces", "2", "df", None, "*")
t.create(None, "cols.remove_white_spaces", "3", "df", None, "names")
t.create(None, "cols.remove_white_spaces", "4", "df", None, "age")

Creating test_cols_remove_white_spaces_1() test function...
Creating test_cols_remove_white_spaces_2() test function...
Creating test_cols_remove_white_spaces_3() test function...
Creating test_cols_remove_white_spaces_4() test function...

In [334]:
t.create(None, "cols.date_format", "1", "df", None, ["japanese name","function(binary)","Cybertronian"])
t.create(None, "cols.date_format", "2", "df", None, "*")
t.create(None, "cols.date_format", "3", "df", None, "last date seen")
t.create(None, "cols.date_format", "4", "df", None, "timestamp")

Creating test_cols_date_format_1() test function...
Creating test_cols_date_format_2() test function...
Creating test_cols_date_format_3() test function...
Creating test_cols_date_format_4() test function...

In [335]:
t.create(None, "cols.impute", "1", "df", None, "height(ft)")
t.create(None, "cols.impute", "2", "df", None, ["rank","Cybertronian","age"])

Creating test_cols_impute_1() test function...
Creating test_cols_impute_2() test function...

In [336]:
t.create(None, "cols.qcut", "1", "df", None, "last date seen", 87)
t.create(None, "cols.qcut", "2", "df", None, "last date seen", 33)
t.create(None, "cols.qcut", "3", "df", None, ["rank","height(ft)","weight(t)"],4) #This one doesn´t admit a quantile input higher than 4 (have to check) 
t.create(None, "cols.qcut", "4", "df", None, ["rank","height(ft)","weight(t)"],1)

Creating test_cols_qcut_1() test function...
Creating test_cols_qcut_2() test function...
Creating test_cols_qcut_3() test function...
Creating test_cols_qcut_4() test function...

In [337]:
t.create(None, "cols.clip", "1", "df", None, ["function(binary)","Cybertronian"],-34,10)
t.create(None, "cols.clip", "2", "df", None, "rank",0.1,0.2)
t.create(None, "cols.clip", "3", "df", None, "age",0,0)
t.create(None, "cols.clip", "4", "df", None, "date arrival",3447,123)

Creating test_cols_clip_1() test function...
Creating test_cols_clip_2() test function...
Creating test_cols_clip_3() test function...
Creating test_cols_clip_4() test function...

In [338]:
t.run()

Creating file ../test_df_ext.py
Done